.bgimg {
	background-image: url('../Images/Wheat-Field.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 680px;
	background-attachment: fixed;
}

.headerset {
	padding-top: 200px;
}

.headerset h2 {
	font-size: 32px;
}

.headerset h1 {
	font-size: 52px;
}

.services {
	height: 600px;
	padding: 50px 0px 30px 0px;
}

.imgsetting {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	
}

.fa-shopping-cart {
	margin: 20px 0px;
}


.fa-desktop {
	margin: 25px 0px;
}

.pressed {
	margin: 50px 0px;
}

.portfolio {
	margin-top: 50px;
	height: 600px;
}

.row {
	margin-top: 30px;
}










