@import './split';



*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.btn-primary{
    width: 110px;
    height: 36px;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
    background-color: #1391f1;
    border-radius: 4px;
    &:hover{
        background-color:  #3aa5f7;
    }
    &:focus{
        background-color:  #1391f1;
    }
}

label{
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 8px;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
    border: 1px solid #232323;
    width: 300px;
    display: block;
    transition: width 0.5s ease-in;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

input[type="text"]:focus{
    border-bottom: none;
    box-shadow: 0 1px 0 0 #000;
}
input[type="text"]:focus + label{
    color: #9e9e9e !important;
}

input[type="radio"]:not(:checked){
    position: static;
    opacity: 1;
}   

