.fullPage{
    display: flex;
    .header{
        // background-color: pink;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 80px;
        border-right: 1px solid #c7c7c7;
        .logo__cont{
            padding-top: 20px;
            img{
                width: 100%;
            }
        }
        .header__icons{
            display: flex;
            flex-direction: column;           
            a{
                margin-left: 5px;
                margin-top: 15px;
                padding: 15px 0;
                i{
                    font-size: 30px;
                    color: #dddddd;   
                }
                &:hover{
                    i{
                        color: #232323;
                    }                    
                }
                &.active{
                    border-left: 1px solid #232323;
                    i{
                        color: #232323;
                    }
                }
            }
        }
        .head__setting{
            padding-bottom: 20px;
            i{
                font-size: 30px;
                color: #dddddd;
                &:hover{
                    color: #232323;
                }
            }
        }
    }
    .total-body{
        width: 100%;
        padding-left: 80px;
        padding-bottom: 80px;
        .navbar-body{
            .navbar__head{
                margin-top: 25px;
                text-align: center;
                display: flex;
                padding: 0 10px;
                align-items: center;
                h1{
                    width: calc(100% - 30px);
                    text-transform: capitalize;
                    font-size: 25px;
                    line-height: 32px;
                    margin-bottom: 0;
                }
                i{
                    font-size: 30px;
                    color: #7e7a7a;
                    cursor: pointer;
                    &:hover{
                        color: #232323;
                    }
                }
            }
            .navbar__drops{
                .drop-down {                                      
                    .drop-disp{
                       
                        border: none;
                        p{                            
                            font-weight: 400;
                            width: auto;
                        }
                        a{
                            i{
                                color: #232323;
                            }
                        }
                    }
                    .drop-list{                        
                        border-top: 1px solid #232323;
                    }
                }
            }
        }
        .items{
            padding: 0 10px;
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            @media screen and (max-width:850px) {
                flex-direction: column;
            }
            .items__block{
                width: 65%;
                @media screen and (max-width:850px) {
                   width: 100%;
                }
                h2{
                    font-size: 20px;
                    line-height: 24px;
                }
                .items__option{
                    .nav-tabs{
                        border: 1px solid #7c7878;
                        display: flex;
                        .nav-item{
                            margin: 0px;
                            flex: 1;
                            .nav-link{
                                text-align: center;
                                color: #949090;
                                border: none;
                                padding: 0;
                                height: 38px;
                                line-height: 38px;
                                &.active{
                                    background-color: #232323;
                                    color: #fff;
                                    border-radius: 0px;
                                }
                            }
                        }
                    }
                    .items--drops{
                        margin-top: 30px;
                        .drop-down{
                            .drop-disp{
                                a{
                                    i{
                                        color: #232323;
                                        font-size: 18px;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                    .items__product{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin-top: 30px;
                        .product{
                            width: 48%;
                            display: flex;
                            justify-content: space-between;
                            margin: 30px 5px 10px 0;
                            @media screen and (max-width:576px) {
                                width: 96%;
                            }
                            .img-holder{
                                &:hover{
                                    box-shadow: 7px 7px 10px -1px rgba(0,0,0,0.67);
                                }
                            }
                            .pric-info{
                                h4{
                                    font-size: 16px;
                                    line-height: 20px;
                                    margin-bottom: 0;
                                }
                                p{
                                    margin-bottom: 33px;
                                }
                                .qty{
                                    .btn-add{
                                        height: 40px;
                                        width: 40px;
                                        text-align: center;
                                        font-size: 17px;
                                        background: #fff;
                                        border: 1px solid #232323;
                                        vertical-align: middle;
                                    }
                                    .btn-hover{
                                        &:hover{
                                            background-color: #dddddd;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .items__price{
                width: 30%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media screen and (max-width:850px) {
                    width: 100%;
                    margin-top: 20px;
                }
                .price-breakup{
                    .price__split{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        p{
                            font-weight: bold;
                            margin-right: 10px;
                            font-size: 17px;
                            line-height: 21px;
                        }
                    }
                    .price__bill{
                        h4{
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: 800;
                        }
                        .price__billind{
                            padding: 0 0 10px 0;
                            border-bottom: 1px solid #dddddd;
                            margin-top: 20px;
                            .sep-items{
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 6px;
                                p{
                                    flex: 0.7;
                                    margin-top: 0px;
                                    &.categ__food{
                                        flex: 3.5;
                                    }
                                    // &.fd__tot{
                                    //     // flex: 0.7;
                                    // }
                                    &.fd__brkup{
                                        flex: 1.5;
                                    }
                                    &.fd__name{
                                        flex: 2;
                                    }
                                }
                                &.categ{
                                    p{
                                        font-weight: 800;
                                    }
                                }
                            }
                            &.first-child{
                                margin-top: 0px;
                            }
                        }
                    }
                }                
                .price-chkut{
                    margin-top: 20px;
                    .chkout-summ{
                        .chkout-sep{
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 6px;
                            p{

                            }
                        }
                    }
                    .btn-hold{
                        margin-top: 20px;
                        button{
                            width: 100%;
                            height: 50px;
                            background-color: #12ac0b;
                            font-size: 17px;
                        }
                    }
                }
            }
        }
    }
}


.drop-down {
    position: relative;    
    .drop-disp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: 1px solid #7c7878;
        cursor: pointer;
        padding: 0 10px;
        p{
            margin-right: 10px;
            width: calc(100% - 12px);
            font-size: 17px;
            font-weight: 700;
        }
        a{
            i{
                color: #7e7a7a;
            }
        }
    }
    .drop-list{
        list-style: none;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        display: none;
        border: 1px solid #232323;
        background-color: #dddddd;
        border-top: none;
        li{
            height: 28px;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid #232323;
            padding: 0 10px;
            cursor: pointer;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: #fff;
                background-color: #d2d0d0;
            }
        }
        &.show{
            display: block;
        }
    }
}

.on-off{
    cursor: pointer;
    .sw-cont{
        width: 40px;
        height: 21px;
        border: 1px solid #d2d0d0;
        border-radius: 40px;
        position: relative;
        // transition: all 0.8s linear;
        &::before{
            position: absolute;
            content: " ";
            width: 20px;
            height: 20px;
            top: 0px;
            left: 1px;
            // right: 100%;
            // transform: translate(100%, 0);
            background: #fff;
            border: 1px solid #ada9a9;
            border-radius: 50%;
            transition: 0.4s ease-in;
        }        
    }
    &.switch{
        // width: 60px;        
        .sw-cont{
            border: 1px solid #1319ff;
            &::before{
                // right: 0;
                transform: translateX(14px);
                left: 4px;
                // border: 1px solid #1319ff;
                background-color: #1319ff;
                // left: initial;
            }
        }        
    }
}