.fullPage{
    display: flex;
    .header{
        // background-color: pink;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        width: 80px;
        border-right: 1px solid #c7c7c7;
        .logo__cont{
            padding-top: 20px;
            img{
                width: 100%;
            }
        }
        .header__icons{
            display: flex;
            flex-direction: column;           
            a{
                i{
                    font-size: 30px;
                    color: #dddddd;   
                }
                &:hover{
                    i{
                        color: #232323;
                    }                    
                }
            }
        }
        .head__setting{
            padding-bottom: 20px;
            i{
                font-size: 30px;
                color: #232323;
            }
        }
    }
    .total-body{
        width: calc(100% - 80px);
        .navbar__head{
            margin-top: 25px;
            text-align: center;
            display: flex;
            h1{
                width: calc(100% - 30px);
            }
        }
    }
}

