.mb-1{
    margin-bottom: 10px !important;
}
.mb-4{
    margin-bottom: 40px !important;
}

.mr-au{
    margin: 0 auto;
}

.w-130{
    width: 130px;
}


p{
    margin: 0px;
}

.bolder-8{
    font-weight: 800;
}

.fl-35{
    flex: 3.5;
}
.fl-7{
    flex: 0.7;
}