.mystudy-certificate {
  margin-left: 62px;
  @media screen and (max-width: $screen-md-min) {
    margin-left: 0;
  }
  > h2 {
    font-weight: 500;
    font-size: 1.429rem;
    line-height: 24px;
    color: $text-black-8;
    margin: 0 0 23px 0;
  }
   ul.my-certificate {
    margin: 0;
     li {
      border-bottom: 1px solid #dddddd;
      box-sizing: border-box;
      padding: 35px 0;
       .my-ctifi-content {
        @media screen and (max-width: 1250px) {
          flex-direction: column;
           .ms-right {
            width: 100%;
            margin-top: 20px;
             .ms-right-btn {
              flex-direction: row !important;
              align-items: center;
               a {
                margin: 3px !important;
              }
            }
          }
        }
         .ms-left {
          width: 60%;
          @media screen and (max-width: 1250px) {
            width: 100%;
          }
           nav {
            background: none;
            box-shadow: none;
            height: initial;
            line-height: initial;
            margin-bottom: 7px;
            > .nav-wrapper {
              display: flex;
              align-items: center;
              > a {
                font-weight: normal;
                font-size: 12px;
                line-height: 17px;
                color: #999;
                &::before {
                  color: $text-gray-7;
                  margin: 0;
                  font-size: 16px;
                }
              }
            }
          }
          > h2 {
            font-weight: 500;
            font-size: 20px;
            letter-spacing: -1px;
            line-height: 26px;
            margin: 0 0 18px 0;
            color: $text-black-8;
            display: inline-flex;
            align-items: center;
            @media screen and (max-width: $screen-sm-min) {
              // flex-direction: column;
              // align-items: flex-start;
              > a {
                margin-bottom: 5px;
              }
            }
            > span {
              background: #53a1e8;
              border-radius: 20px;
              font-weight: 500;
              font-size: 12px;
              letter-spacing: -0.5px;
              line-height: 20px;
              color: $text-white-1;
              box-sizing: border-box;
              padding: 0 13px;
              margin-right: 8px;
              white-space: nowrap;
              &.active {
                background: #777777;
              }
            }
          }
          > p {
            font-weight: 200;
            font-size: 1rem;
            line-height: 25px;
            color: $text-black-8;
            margin: 0;
          }
        }
        > .ms-right {
          width: 40%;
          @media screen and (max-width: 1250px) {
            width: 100%;
          }
          @media screen and (max-width: $screen-sm-min) {
            display: block;
            > .ms-right-btn {
              margin-top: 10px;
            }
          }
          @media screen and (max-width: $screen-md-min) {
            flex-direction: row !important;
          }
          > h5 {
            font-weight: normal;
            font-size: 1.214rem;
            line-height: 25px;
            color: $text-black-8;
            white-space: nowrap;
            margin: 0 10px 0 0;
          }
          > .ms-right-btn {
            display: flex;
            flex-direction: column;
            > a {
              background: #ffffff !important;
              box-shadow: none;
              border: 1px solid #aaaaaa;
              border-radius: 20px;
              min-width: 115px;
              font-weight: 400;
              font-size: 13px;
              line-height: 32px;
              height: 32px;
              color: $text-gray-3;
              margin-bottom: 7px;
              &:last-child {
                margin-bottom: 0;
              }
            }
            a.disabled{
              color: #ccc !important;
              border-color: #ccc;
            }
          }
        }
      }
    }
  }
}
