.row {
    margin-top: 20px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .margin-top-20 {
    margin-top: 20px;
  }

  .airquality{
      #lastUpdated{
          background-color: #ebdcdc;
          text-align: center;
          font-weight: 500;
          padding: 15px 0;
      }
  }
  