
.weather-cont{
  background-color: #FAFAFA;
  .weather-disp{
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    .indv-city{
      width: calc(33.33% - 30px);
      margin: 20px 15px;
      border: 1px solid #C7C7C7;
      border-radius: 20px;
      background-color: #ffffff;
      padding: 10px 18px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
      .cities{
        display: flex;
        align-items: center;
        h3{
          font-size: 18px;
          margin: 0px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          line-height: 1;
          width: 80px;
        }
        .citi{
          font-size: 22px;
          margin: 0px;
          line-height: 1;
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          width: calc(100% - 60px);
          text-align: center;
        }
      }
      .country{
        display: flex;
        align-items: center;
        h3{
          font-size: 18px;
          margin: 0px;
          font-weight: 400;
          font-family: "Roboto", sans-serif;
          line-height: 1;
          width: 80px;
        }
        .countri{
          font-size: 22px;
          margin: 0px;
          line-height: 1;
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          width: calc(100% - 60px);
          text-align: center;
        }
      }
      .info{
        padding: 10px 20px;
        .info-row{
          display: flex;
          align-items: center;
          p{
            margin: 0px;
            width: 120px;
          }
          .edits{
            width: calc(100% - 120px);
            text-align: center;
          }
        }
      }
    }
  }
}

  