.fullPage{
    overflow: hidden;
    padding: 27px 0 100px;
    background: url("../assets/images/clouds.png") no-repeat;
    background-size: cover;
}

h2{
    text-align: center;
    color: #fff;
}

.times{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    padding: 20px 0 50px;
    .times__bullet{
        padding: 30px;
        width: 120px;
        height: 120px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 15px;
        &:first-child{
            margin-left: 0;
        }
        i{
            color: #cc0000;
            font-size: 28px;
        }
        p{
            color: #cc0000;
            margin: 10px 0 0;
        }
    }
}

.btn-holder{
    text-align: center;
}


          
    


.btn-primary{
    // box-shadow: 0px 0px 20px #00000033;
    border: 1px solid #b9d8c9;
    border-radius: 24px;
    opacity: 1;
    color: #fff;
    background-color: #95c5ad;
    width: 150px;
    height: 50px;
    text-align: center;
    font: normal normal 700 16px/29px 'Open Sans', sans-serif;
    span{
        color: #cc0000;
        display: inline-block;
        margin-left: 10px;
    }  
    &:hover{
        background: $color-viol1;
        color: $color-white1;
    }
}

.btn-appr{
    background-color: $color-white1;
    color: $color-viol1;
    font: normal normal 600 14px/18px 'Open Sans', sans-serif;
    border-radius: 30px;
    width: 140px;
    height: 40px;
}

.blk-brder{
    background-color: $color-black2;
    width: 236px;
    height: 8px;
    border-radius: 13px;
    opacity: 0.7;
}

.loan{
    .hdr{
        color: $color-grey1;
        font: normal normal 600 15px/19px 'Open Sans', sans-serif;
    }
    .amt{
        color: $color-white1;
        font: normal normal 600 20px/24px 'Open Sans', sans-serif;
    }
}

.income{
    .upr{
        text-transform: capitalize;
        color: $color-grey2;
        margin-bottom: 8px;
        font: normal normal 600 16px/20px 'Open Sans', sans-serif;
    }
    .lwr{
        color: $color-black1;
        text-transform: capitalize;
        font: normal normal 600 26px/32px 'Open Sans', sans-serif;
        margin-bottom: 10px;
    }
}


.drop-down {
    position: relative;    
    .drop-disp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: 1px solid #7c7878;
        cursor: pointer;
        padding: 0 10px;
        p{
            margin-right: 10px;
            width: calc(100% - 12px);
            font-size: 17px;
            font-weight: 700;
        }
        a{
            i{
                color: #7e7a7a;
            }
        }
    }
    .drop-list{
        list-style: none;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        display: none;
        border: 1px solid #232323;
        background-color: #dddddd;
        border-top: none;
        li{
            height: 28px;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid #232323;
            padding: 0 10px;
            cursor: pointer;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: #fff;
                background-color: #d2d0d0;
            }
        }
        &.show{
            display: block;
        }
    }
}

.on-off{
    cursor: pointer;
    .sw-cont{
        width: 40px;
        height: 21px;
        border: 1px solid #d2d0d0;
        border-radius: 40px;
        position: relative;
        // transition: all 0.8s linear;
        &::before{
            position: absolute;
            content: " ";
            width: 20px;
            height: 20px;
            top: 0px;
            left: 1px;
            // right: 100%;
            // transform: translate(100%, 0);
            background: #fff;
            border: 1px solid #ada9a9;
            border-radius: 50%;
            transition: 0.4s ease-in;
        }        
    }
    &.switch{
        // width: 60px;        
        .sw-cont{
            border: 1px solid #1319ff;
            &::before{
                // right: 0;
                transform: translateX(14px);
                left: 4px;
                // border: 1px solid #1319ff;
                background-color: #1319ff;
                // left: initial;
            }
        }        
    }
}