//header icons
.icon-event-menu {
  background: url(../assets/icons/icon-event-menu.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 34px;
  display: inline-block;
}
.icon-remote-menu {
  background: url(../assets/icons/icon-remote-menu.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 34px;
  display: inline-block;
}
.icon-folder {
  background: url(../assets/icons/icon-folder.svg) no-repeat center center;
  background-size: auto 15px;
  height: 15px;
  width: 22px;
  display: inline-block;
}

.icon-author {
  background: url(../assets/icons/icon-author.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 34px;
  display: inline-block;
}
.icon-download {
  background: url(../assets/icons/icon-download.svg) no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 34px;
  display: inline-block;
}
.icon-report-typo {
  background: url(../assets/icons/icon-report-typo.svg) no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 34px;
  display: inline-block;
}
.icon-share {
  background: url(../assets/icons/icon-share.svg) no-repeat center center;
  background-size: auto 30px;
  height: 30px;
  width: 38px;
  display: inline-block;
}
.icon-wishlist {
  background: url(../assets/icons/icon-wishlist.svg) no-repeat center center;
  background-size: auto 30px;
  height: 30px;
  width: 38px;
  display: inline-block;
}

//Intro page search icons
.icon-qr-code {
  background: url(../assets/icons/icon-qr-code.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-voice-search {
  background: url(../assets/icons/icon-voice-search.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}

// Intro page Category icons
.icon-cat-eng {
  background: url(../assets/icons/flag-eng.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-japan {
  background: url(../assets/icons/flag-japan.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-china {
  background: url(../assets/icons/flag-china.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-korea {
  background: url(../assets/icons/flag-korea.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-globe {
  background: url(../assets/icons/flag-globe.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-script {
  background: url(../assets/icons/flag-script.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-kid {
  background: url(../assets/icons/flag-kid.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-abc {
  background: url(../assets/icons/flag-abc.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-book {
  background: url(../assets/icons/flag-book.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-grad {
  background: url(../assets/icons/flag-grad.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-page {
  background: url(../assets/icons/flag-page.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}
.icon-cat-bulb {
  background: url(../assets/icons/flag-bulb.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}

// Intro page news section icons

.icon-event {
  background: url(../assets/icons/icon-event.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 80px;
  display: inline-block;
}
.icon-youtube-video {
  background: url(../assets/icons/icon-youtube-video.svg) no-repeat center
    center;
  background-size: auto 48px;
  height: 48px;
  width: 80px;
  display: inline-block;
}
.icon-facebook {
  background: url(../assets/icons/icon-facebook.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 80px;
  display: inline-block;
}
.icon-blog {
  background: url(../assets/icons/icon-blog.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 80px;
  display: inline-block;
}

//category home play icon orange
.icon-play-orange {
  background: url(../assets/icons/icon-play-orange.svg) no-repeat center center;
  background-size: auto 48px;
  height: 48px;
  width: 48px;
  display: inline-block;
}

//lecture details page share icon by Dipankar
.icon-white-share {
  background: url(../assets/icons/icon-white-share.svg) no-repeat center center;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-black-wish {
  background: url(../assets/icons/wish_l.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.icon-black-shoping-ld {
  background: url(../assets/icons/shopping_bag_ld.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.icon-tick-ld {
  background: url(../assets/icons/ld_tick_mark.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.icon-arrow-ld {
  background: url(../assets/icons/right_arrow.svg) no-repeat center center;
  background-size: auto 12px;
  height: 12px;
  width: 10px;
  display: inline-block;
}
//login page share icon by Dipankar
.icon-white-fecebook {
  background: url(../assets/icons/facebook.svg) no-repeat center center;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-white-n {
  background: url(../assets/icons/n-icon.svg) no-repeat center center;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-white-google {
  background: url(../assets/icons/google.svg) no-repeat center center;
  background-size: auto 28px;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-popup-download {
  background: url(../assets/icons/download.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
//Book page icon by Dipankar
.icon-booktop-price {
  background: url(../assets/icons/book-top-arrow.svg) no-repeat top center;
  background-size: auto 11px;
  height: 11px;
  width: 21px;
  display: inline-block;
}

.icon-booklist-funnel {
  background: url(../assets/icons/funnel-icon.svg) no-repeat top center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-booklist-progress-list {
  background: url(../assets/icons/bl-list-icon.svg) no-repeat top center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-booklist-plist {
  background: url(../assets/icons/bl-top-list.svg) no-repeat top center;
  background-size: auto 35px;
  height: 35px;
  width: 42px;
  display: inline-block;
  &:hover {
    background: url(../assets/icons/bl-top-list-hover.svg) no-repeat top center;
    background-size: auto 35px;
    height: 35px;
    width: 42px;
    display: inline-block;
  }
}
.icon-booklist-plist.active {
  background: url(../assets/icons/bl-top-list-hover.svg) no-repeat top center;
  background-size: auto 35px;
  height: 35px;
  width: 42px;
  display: inline-block;
}

.icon-booklist-fourlist {
  background: url(../assets/icons/icon-booklist-fourlist.svg) no-repeat top
    center;
    background-size: auto 35px;
  height: 35px;
  width: 42px;
  display: inline-block;
  &:hover {
    background: url(../assets/icons/icon-booklist-fourlist-hover.svg) no-repeat
      top center;
      background-size: auto 35px;
    height: 35px;
    width: 42px;
    display: inline-block;
  }
}
.icon-booklist-fourlist.active {
  background: url(../assets/icons/icon-booklist-fourlist-hover.svg) no-repeat
    top center;
    background-size: auto 35px;
  height: 35px;
  width: 42px;
  display: inline-block;
}
.icon-booklist-search {
  background: url(../assets/icons/bl-search-icon.svg) no-repeat top center;
  background-size: auto 22px;
  height: 22px;
  width: 22px;
  display: inline-block;
}
//Lecture main page by Dipankar
.icon-lecturemain-plus {
  background: url(../assets/icons/icon-lecture-plus.svg) no-repeat center center;
  background-size: auto 40px;
  height: 40px;
  width: 40px;
  display: inline-block;
}
.icon-lecturemain-shop {
  background: url(../assets/icons/gray-shop.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 12px;
  display: inline-block;
}
.icon-lecturemain-card {
  background: url(../assets/icons/gray-card.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 12px;
  display: inline-block;
}
.icon-lm-logo {
  background: url(../assets/icons/dvlogo.svg) no-repeat center center;
  background-size: auto 25px;
  height: 25px;
  width: 130px;
  display: inline-block;
}
//Lecture list page icon by Dipankar

.icon-lectureList-plus {
  background: url(../assets/icons/lecture-list-plus.svg) no-repeat center center;
  background-size: auto 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
}
.icon-lectureList-share {
  background: url(../assets/icons/lecture-list-share.svg) no-repeat center
    center;
    background-size: auto 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
}
.icon-lectureList-wish {
  background: url(../assets/icons/lecture-list-wish.svg) no-repeat center center;
  background-size: auto 29px;
  height: 30px;
  width: 33px;
  display: inline-block;
}
.icon-lectureList-message {
  background: url(../assets/icons/llist-message.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 21px;
  display: inline-block;
}
.icon-lectureGide-close {
  background: url(../assets/icons/lecture-chat-close.svg) no-repeat center
    center;
    background-size: auto 18px;
  height: 18px;
  width: 18px;
  display: inline-block;
}
.icon-lectureGide-youtube {
  background: url(../assets/icons/icon-white-youtube.svg) no-repeat center
    center;
    background-size: 24px auto;
  height: 18px;
  width: 24px;
  display: inline-block;
}

//Dvbook main page icon by Dipankar

.icon-dvbookList-linearrow {
  background: url(../assets/icons/line-arrow.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 20px;
  display: inline-block;
}

//Dvbook detaild page icon by Dipankar
.icon-dvbookdetails-share {
  background: url(../assets/icons/bd-white-share.svg) no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-dvbookdetails-wish {
  background: url(../assets/icons/bd-white-wish.svg) no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-dvbookdetails-discount {
  background: url(../assets/icons/discount.svg) no-repeat center center;
  background-size: auto 27px;
  height: 27px;
  width: 32px;
  display: inline-block;
}
.icon-bookDetails-share {
  background: url(../assets/icons/icon-share.svg) no-repeat center center;
  background-size: auto 24px;
  height: 24px;
  width: 24px;
  display: inline-block;
}
.icon-bookDetails-wishlist {
  background: url(../assets/icons/icon-wishlist.svg) no-repeat center center;
  background-size: auto 21px;
  height: 21px;
  width: 24px;
  display: inline-block;
}
.icon-bookDetails-right {
  background: url(../assets/icons/dv-right.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
//My page home page icon by Dipankar
.icon-mypagehome-edit {
  background: url(../assets/icons/icon-edit-mybook.svg) no-repeat center center;
  background-size: auto 30px;
  height: 30px;
  width: 30px;
  display: inline-block;
}
.icon-mypagehome-left-arrow {
  background: url(../assets/icons/mypage-left-arrow.svg) no-repeat center center;
  background-size: auto 32px;
  height: 32px;
  width: 17px;
  display: inline-block;
}
.icon-mypagehome-right-arrow {
  background: url(../assets/icons/mypage-right-arrow.svg) no-repeat center
    center;
    background-size: auto 32px;
  height: 32px;
  width: 17px;
  display: inline-block;
}
.icon-mypage-wish-book {
  background: url(../assets/icons/mypage-book.svg) no-repeat center center;
  background-size: auto 23px;
  height: 23px;
  width: 27px;
  display: inline-block;
}
.icon-mypage-wish-video {
  background: url(../assets/icons/mypage-video.svg) no-repeat center center;
  background-size: auto 29px;
  height: 29px;
  width: 29px;
  display: inline-block;
}
.icon-mypage-wish-dv {
  background: url(../assets/icons/mypage-dv.svg) no-repeat center center;
  background-size: auto 15px;
  height: 15px;
  width: 28px;
  display: inline-block;
}
.icon-mypage-grey-search {
  background: url(../assets/icons/icon-grey-search.svg) no-repeat center center;
  background-size: auto 21px;
  height: 21px;
  width: 20px;
  display: inline-block;
}
.icon-mypage-shoping {
  background: url(../assets/icons/mypage-shoping.svg) no-repeat center center;
  background-size: auto 21px;
  height: 21px;
  width: 20px;
  display: inline-block;
}
.icon-mypage-message {
  background: url(../assets/icons/icon-mypage-message.svg) no-repeat center
    center;
    background-size: auto 23px;
  height: 23px;
  width: 25px;
  display: inline-block;
}
.icon-mypage-history {
  background: url(../assets/icons/refund-history.svg) no-repeat center center;
  background-size: auto 23px;
  height: 23px;
  width: 25px;
  display: inline-block;
}
//Order list details page icon by Dipankar
.icon-date-order {
  background: url(../assets/icons/date-icon.svg) no-repeat center center;
  background-size: auto 14px;
  height: 24px;
  width: 36p;
  display: inline-block;
}
.icon-close-select-tax {
  background: url(../assets/icons/close-mypage.svg) no-repeat center center;
  background-size: auto 18px;
  height: 18px;
  width: 18px;
  //margin-top: 1.2em;
  display: inline-block;
  cursor: pointer;
}
//header icon by Dipankar
.icon-instructor-header {
  background: url(../assets/icons/instructor.svg) no-repeat center center;
  background-size: 100%;
  height: 20px;
  width: 27px;
  display: inline-block;
}
.icon-other-service-header {
  background: url(../assets/icons/other-service.svg) no-repeat center center;
  background-size: 100%;
  height: 17px;
  width: 14.5px;
  display: inline-block;
}
.icon-header-blue-event {
  background: url(../assets/icons/icon-blue-event.svg) no-repeat center center;
  background-size: 100%;
  height: 17px;
  width: 14.5px;
  display: inline-block;
}
.icon-header-white-event {
  background: url(../assets/icons/icon-gift-white.svg) no-repeat center center;
  background-size: 100%;
  height: 18.2px;
  width: 17px;
  display: inline-block;
}
.icon-header-notification {
  background: url(../assets/icons/icon-notification.svg) no-repeat center center;
  background-size: 100%;
  height: 20px;
  width: 18px;
  display: inline-block;
}
.icon-header-search {
  background: url(../assets/icons/header-serch.svg) no-repeat center center;
  background-size: 100%;
  height: 23px;
  width: 21px;
  display: inline-block;
}
.icon-footer-question {
  background: url(../assets/icons/icon-question.svg) no-repeat center center;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-footer-refund {
  background: url(../assets/icons/icon-refund.svg) no-repeat center center;
  background-size: 100%;
  height: 27px;
  width: 36px;
  display: inline-block;
}
.icon-footer-contact {
  background: url(../assets/icons/icon-footer-contact.svg) no-repeat center
    center;
  background-size: 100%;
  height: 24px;
  width: 38px;
  display: inline-block;
}
.icon-footer-publication {
  background: url(../assets/icons/icon-publication.svg) no-repeat center center;
  background-size: 100%;
  height: 29px;
  width: 34px;
  display: inline-block;
}
.icon-support-serach {
  background: url(../assets/icons/icon-support-serach.svg) no-repeat center
    center;
  background-size: 100%;
  height: 42px;
  width: 40px;
  display: inline-block;
}
.icon-footer-series {
  background: url(../assets/icons/icon-series.svg) no-repeat center center;
  background-size: 100%;
  height: 15px;
  width: 9px;
  display: inline-block;
}

//Footer icon by Dipankar
.icon-footer-report-typo {
  background: url(../assets/icons/report-to-typo.svg) no-repeat center center;
  background-size: 100%;
  height: 47px;
  width: 46px;
  display: inline-block;
}
.icon-footer-book-catalog {
  background: url(../assets/icons/icon-book-catalog.svg) no-repeat center center;
  background-size: 100%;
  height: 47px;
  width: 50px;
  display: inline-block;
}
.icon-footer-youtube {
  background: url(../assets/icons/youtube.svg) no-repeat center center;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-footer-facebook {
  background: url(../assets/icons/footer-facebook.svg) no-repeat center center;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-footer-blog {
  background: url(../assets/icons/blog.svg) no-repeat center center;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-footer-n-link {
  background: url(../assets/icons/n-footer-icon.svg) no-repeat center center;
  background-size: 100%;
  height: 28px;
  width: 28px;
  display: inline-block;
}
.icon-footer-earth {
  background: url(../assets/icons/icon-earth.svg) no-repeat center center;
  background-size: 100%;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.icon-footer-app-store {
  background: url(../assets/icons/icon-app-store.svg) no-repeat center center;
  background-size: 100%;
  height: 54px;
  width: 59px;
  display: inline-block;
}
.icon-footer-google-play {
  background: url(../assets/icons/google-play.svg) no-repeat center center;
  background-size: 100%;
  height: 51px;
  width: 65px;
  display: inline-block;
}
.icon-footer-remote-support {
  background: url(../assets/icons/remote-support.svg) no-repeat center center;
  background-size: 100%;
  height: 16px;
  width: 20px;
  display: inline-block;
}
//12 Payment page icon by Dipankar
.icon-grey-right {
  background: url(../assets/icons/icon-grey-right.svg) no-repeat center center;
  background-size: auto 15px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
// Educational materials page icon by Dipankar
.icon-collapsible-dropdown-arrow {
  background: url(../assets/icons/collapsible-icon.svg) no-repeat center center;
  background-size: auto 15px;
  height: 12px;
  width: 22px;
  display: inline-block;
}
.icon-em-books-serch {
  background: url(../assets/icons/em-books-serch.svg) no-repeat center center;
  background-size: auto 29px;
  height: 29px;
  width: 29px;
  display: inline-block;
}
.icon-em-music {
  background: url(../assets/icons/icon-em-music.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 17px;
  display: inline-block;
}
.icon-em-download {
  background: url(../assets/icons/icon-em-download.svg) no-repeat center center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
}
.icon-em-repeat-one {
  background: url(../assets/icons/icon-play-number.svg) no-repeat center center;
  background-size: auto 23px;
  height: 23px;
  width: 26px;
  display: inline-block;
}
.icon-em-repeat-one-hover {
  background: url(../assets/icons/icon-play-number-hover.svg) no-repeat center center;
  background-size: auto 23px;
  height: 23px;
  width: 26px;
  display: inline-block;
}
.icon-mp3-download {
  background: url(../assets/icons/mp3-download.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-mp3-player {
  background: url(../assets/icons/mp3-play.svg) no-repeat center center;
  background-size: auto 23px;
  height: 23px;
  width: 23px;
  display: inline-block;
}
.icon-mp3-push {
  background: url(../assets/icons/icon-mp3-push.svg) no-repeat center center;
  background-size: auto 13px;
  height: 13px;
  width: 10px;
  display: inline-block;
  color: transparent;
}
.mstu-p-arw {
  background: url(../assets/icons/mystudy-p-arrow.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 18px;
  display: inline-block;
}
.mstu-s-pre {
  background: url(../assets/icons/mystudy-previous.svg) no-repeat center center;
  background-size: auto 12px;
  height: 12px;
  width: 12px;
  display: inline-block;
}
.mstu-s-n {
  background: url(../assets/icons/mystudy-next.svg) no-repeat center center;
  background-size: auto 12px;
  height: 12px;
  width: 12px;
  display: inline-block;
}
.ms-music-pause {
  background: url(../assets/icons/ms-music-pause.svg) no-repeat center center;
  background-size: auto 13px;
  height: 13px;
  width: 10px;
  display: inline-block;
}
//
//Dvbook logo icon   
.icon-dvbook-logo {
  background: url(../assets/icons/dv-logo.svg) no-repeat center center;
  background-size: auto 26px;
  height: 26px;
  width: 120px;
}
.icon-package-arrow {
  background: url(../assets/icons/icon-pack-arrow.svg) no-repeat center center;
  background-size: auto 6px;
  height: 6px;
  width: 36px;
  display: inline-block;
}
// Customer fourm page icon by Dipankar
.cf-dropdown-arrow {
  background: url(../assets/icons/cf-dropdown-arrow.svg) no-repeat center center;
  background-size: auto 9px;
  height: 9px;
  width: 18px;
  display: inline-block;
}
.icon-cf-lock {
  background: url(../assets/icons/icon-cf-lock.svg) no-repeat center center;
  background-size: auto 16.7px;
  height: 16.7px;
  width: 13.2px;
  display: inline-block;
}
.icon-cf-blue-arrow {
  background: url(../assets/icons/icon-blue-arrow.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 16px;
  display: inline-block;
}

//Sidenav down arrow icon
.icon-sidenav-arrow {
  background: url(../assets/icons/sidenav-arrow-down.svg) no-repeat center
    center;
  background-size: auto 20px;
  height: 28px;
  width: 28px;
  display: inline-block;
}

//Mypage activity forum item lock icon
.icon-lock {
  background: url(../assets/icons/icon-lock.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 16px;
  display: inline-block;
}

//Mypage activity details page attachment icon
.icon-attachment {
  background: url(../assets/icons/icon-attachment.svg) no-repeat center center;
  background-size: auto 18px;
  height: 18px;
  width: 22px;
  display: inline-block;
}
//Customer center  page icon
.icon-shipping-q {
  background: url(../assets/icons/q.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-shipping-car {
  background: url(../assets/icons/shiping-icon.svg) no-repeat center center;
  background-size: auto 16px;
  height: 16px;
  width: 22px;
  display: inline-block;
}
.icon-shipping-customer-question {
  background: url(../assets/icons/question-customer.svg) no-repeat center center;
  background-size: auto 20px;
  height: 20px;
  width: 22px;
  display: inline-block;
}
.icon-shipping-one {
  background: url(../assets/icons/1_1.svg) no-repeat center center;
  background-size: auto 16px;
  height: 16px;
  width: 19px;
  display: inline-block;
}
.icon-shipping-notice {
  background: url(../assets/icons/shipping-notice.svg) no-repeat center center;
  background-size: auto 18px;
  height: 18px;
  width: 19px;
  display: inline-block;
}
.icon-shipping-question {
  background: url(../assets/icons/questin-icon.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 23px;
  display: inline-block;
}
.icon-shipping-software {
  background: url(../assets/icons/required-software.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 20px;
  display: inline-block;
}
.icon-shipping-setting {
  background: url(../assets/icons/settings.svg) no-repeat center center;
  background-size: auto 22px;
  height: 22px;
  width: 22px;
  display: inline-block;
}

// Mypage email/SNS change form naver icon
.icon-naver-n {
  background: url(../assets/icons/icon-naver-n.svg) no-repeat center center;
  background-size: auto 12px;
  height: 12px;
  width: 14px;
  display: inline-block;
}

// Category home type icon

.n-green-icon {
  background: url(../assets/icons/n-green-icon.svg) no-repeat center center;
  background-size: auto 42px;
  height: 42px;
  width: 42px;
  display: inline-block;
}

// My study icon
.mystudy-level-test {
  background: url(../assets/icons/mystudy-level-test.svg) no-repeat center
    center;
  background-size: auto 44px;
  height: 44px;
  width: 34px;
  display: inline-block;
}

.mystudy-play-arrow {
  background: url(../assets/icons/mystudy-play.svg) no-repeat center
    center;
  background-size: auto 17px;
  height: 17px;
  width: 14px;
  display: inline-block;
} 
.mystudy-play-arrow-white {
  background: url(../assets/icons/mystudy-play-hover.svg) no-repeat center
    center;
  background-size: auto 17px;
  height: 17px;
  width: 14px;
  display: inline-block;
} 
.mystudy-skip-previous {
  background: url(../assets/icons/mystudy-skip.svg) no-repeat center
    center;
  background-size: auto 17px;
  height: 17px;
  width: 14px;
  display: inline-block;
}
.mystudy-skip-previous-white {
  background: url(../assets/icons/mystudy-skip-hover.svg) no-repeat center
    center;
  background-size: auto 17px;
  height: 17px;
  width: 14px;
  display: inline-block;
 }
 .study-menu {
  background: url(../assets/icons/study-menu.svg) no-repeat center
    center;
  background-size: auto 10px;
  height: 10px;
  width: 12px;
  display: inline-block;
 }
 .study-menu-white {
  background: url(../assets/icons/study-menu-active.svg) no-repeat center
    center;
  background-size: auto 10px;
  height: 10px;
  width: 12px;
  display: inline-block;
 } 
 .mystudy-watch {
  background: url(../assets/icons/mystudy-watch.svg) no-repeat center
    center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
 }
 .mystudy-watch-white {
  background: url(../assets/icons/mystudy-watch-active.svg) no-repeat center
    center;
  background-size: auto 14px;
  height: 14px;
  width: 14px;
  display: inline-block;
 }
 
 .mystudy-bookmark {
  background: url(../assets/icons/mystudy-bookmark.svg) no-repeat center
    center;
  background-size: auto 17px;
  height: 17px;
  width: 12px;
  display: inline-block;
 }
 .mystudy-chat {
  background: url(../assets/icons/mystudy-chat.svg) no-repeat center
    center;
  background-size: auto 16px;
  height: 16px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-thumb {
  background: url(../assets/icons/mystudy-thumb.svg) no-repeat center
    center;
  background-size: auto 18px;
  height: 18px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-white-thumb {
  background: url(../assets/icons/mystudy-white-thumb.svg) no-repeat center
    center;
  background-size: auto 18px;
  height: 18px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-home {
  background: url(../assets/icons/mystudy-home.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 20px;
  display: inline-block;
 }
 .mystudy-white-home {
  background: url(../assets/icons/mystudy-white-home.svg) no-repeat center
    center;
  background-size: auto 18px;
  height: 18px;
  width: 20px;
  display: inline-block;
 }
 .mystudy-edit {
  background: url(../assets/icons/mystudy-edit.svg) no-repeat center
    center;
  background-size: auto 18px;
  height: 18px;
  width: 17px;
  display: inline-block;
 }
 .mystudy-white-edit {
  background: url(../assets/icons/mystudy-blue-edit.svg) no-repeat center
    center;
  background-size: auto 18px;
  height: 18px;
  width: 17px;
  display: inline-block;
 }
 .mystudy-blue-bookmark {
  background: url(../assets/icons/mystudy-blue-bookmark.svg) no-repeat center
    center;
  background-size: auto 22px;
  height: 22px;
  width: 16px;
  display: inline-block;
 }
  .mystudy-orange-gift {
  background: url(../assets/icons/mystudy-orange-gift.svg) no-repeat center
    center;
  background-size: auto 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
 }
 .mystudy-blue-gift {
  background: url(../assets/icons/mystudy-blue-gift.svg) no-repeat center
    center;
  background-size: auto 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
 }
 .mystudy-blue-dvlog {
  background: url(../assets/icons/mystudy-blue-dvlog.svg) no-repeat center
    center;
  background-size: auto 16px;
  height: 16px;
  width: 30px;
  display: inline-block;
 }
 .mystudy-dvbook-logo {
  background: url(../assets/icons/mystudy-dvbook-logo.svg) no-repeat center
    center;
  background-size: auto 23px;
  height: 23px;
  width: 123px;
  display: inline-block;
 }

 .mystudy-gray-volume {
  background: url(../assets/icons/mystudy-gray-volume.svg) no-repeat center
    center;
  background-size: auto 16px;
  height: 16px;
  width: 23px;
  display: inline-block;
 }
 .mystudy-blue-volume {
  background: url(../assets/icons/mystudy-blue-volume.svg) no-repeat center
    center;
  background-size: auto 16px;
  height: 16px;
  width: 23px;
  display: inline-block;
 }
 .mystudy-white-volume {
  background: url(../assets/icons/mystudy-white-volume.svg) no-repeat center
    center;
  background-size: auto 10px;
  height: 10px;
  width: 14px;
  display: inline-block;
 }
 .mystudy-gray-search {
  background: url(../assets/icons/mystudy-gray-search.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 23px;
  display: inline-block;
 }
 .mystudy-blue-open-massage {
  background: url(../assets/icons/mystudy-blue-open-massage.svg) no-repeat center
    center;
  background-size: auto 15px;
  height: 15px;
  width: 15px;
  display: inline-block;
 }
 .mystudy-blue-close-massage {
  background: url(../assets/icons/mystudy-blue-close-massage.svg) no-repeat center
    center;
  background-size: auto 12px;
  height: 12px;
  width: 14px;
  display: inline-block;
 }
 .mystudy-close-white-massage {
  background: url(../assets/icons/mystudy-close-white-massage.svg) no-repeat center
    center;
  background-size: auto 14px;
  height: 14px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-plus-icon {
  background: url(../assets/icons/mystudy-plus-icon.svg) no-repeat center
    center;
  background-size: auto 29px;
  height: 24px;
  width: 24px;
  display: inline-block;
 }
 .mystudy-lock {
  background: url(../assets/icons/mystudy-lock.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-white-lock {
  background: url(../assets/icons/mystudy-white-lock.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 18px;
  display: inline-block;
 }
 .mystudy-shopping {
  background: url(../assets/icons/mystudy-shopping.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 19px;
  display: inline-block;
 }
 .mystudy-white-shopping {
  background: url(../assets/icons/mystudy-white-shopping.svg) no-repeat center
    center;
  background-size: auto 21px;
  height: 21px;
  width: 19px;
  display: inline-block;
 }
 .mystudy-pdf {
  background: url(../assets/icons/mystudy-pdf.svg) no-repeat center
    center;
  background-size: auto 20px;
  height: 20px;
  width: 16px;
  display: inline-block;
 }
 .mystudy-pause-btn{
  background: url(../assets/icons/mystudy-pause-btn.svg) no-repeat;
  background-size: auto 27px;
  width: 21px;
  height: 27px;
  display: inline-block;
}
 .icon-lectureBasket{
   background: url(../assets/icons/icon-basket.svg) no-repeat;
   background-size: auto 18px;
   width: 20px;
   height: 21px;
   display: inline-block;
   margin-right: 4px;
 }
 .icon-lectureHeart{
  background: url(../assets/icons/icon-heart.svg) no-repeat;
  background-size: auto 18px;
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
}

.iconMusic{
  background: url(../assets/icons/icon-music.svg) no-repeat;
  background-size: auto 15px;
  width: 15px;
  height: 14px;
  display: inline-block;
}
.iconDownload{
  background: url(../assets/icons/icon-download-book-details.svg) no-repeat;
  background-size: auto 15px;
  width: 15px;
  height: 14px;
  display: inline-block;
}
.iconPlay{
  background: url(../assets/icons/icon-play-red.svg) no-repeat;
  background-size: auto 25px;
  width: 25px;
  height: 25px;
  display: inline-block;
}
//for white
.iconWishlist{
  background: url(../assets/icons/new-wishlist-icon.svg) no-repeat;
  //background-size: auto 30px;
  background-position: 0 -30px;
  width: 30px;
  height: 29px;
  display: inline-block;
  &.active{
    background-position: 0 0;
  }
}
// for black
.iconWishlist-Black{
  background: url(../assets/icons/new-wishlist-black-icon.svg) no-repeat;
  //background-size: auto 30px;
  background-position: 0 0;
  width: 20px;
  height: 21px;
  display: inline-block;
  &.active{
    background-position: 0 -19px;
  }
}

// for grey ornage
.iconWishlist-greyOrange{
  background: url(../assets/icons/new-wishlist-grey-orange-icon.svg) no-repeat;
  //background-size: auto 30px;
  background-position: 0 0;
  width: 24px;
  height: 21px;
  display: inline-block;
  &.active{
    background-position: 0 -23px;
  }
}

// for white ornage
.iconWishlist-whiteOrange{
  background: url(../assets/icons/new-wishlist-white-orange-icon.svg) no-repeat;
  //background-size: auto 30px;
  background-position: 0 0;
  width: 26px;
  height: 24px;
  display: inline-block;
  &.active{
    background-position: 0 -27px;
  }
}

.icon-search{
  background: url(../assets/icons/icon-search.svg) no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.icon-scan{
  background: url(../assets/icons/icon-scan.svg) no-repeat;
  background-position: 0 0;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.icon-play-fill{
  background: url(../assets/icons/play-fill-home.svg) no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.icon-downArrow{
  background: url(../assets/icons/down-arrow-orange.svg) no-repeat;
  background-position: 0 0;
  width: 6px;
  height: 5px;
  display: inline-block;
}

.icon-pause-outline{
  background: url(../assets/icons/icon-pause-outline.svg) no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 23px;
  display: inline-block;
}

.icon-mp3-download-white{
  background: url(../assets/icons/mp3-download-white.svg) no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 15px;
  display: inline-block;
}

.closeBump{
  background: url(../assets/icons/close-16x16.svg) no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.icon-naver{
  background: url(../assets/icons/icon-naver.svg) no-repeat;
  background-position: 0 0;
  width: 52px;
  height: 52px;
  display: inline-block;
}

.icon-shopping-bag{
  background: url(../assets/icons/icon-shopping-bag.svg) no-repeat;
  background-position: 0 0;
  width: 14px;
  height: 15px;
}

.icon-pencil{
  background: url(../assets/icons/icon-pencil.svg) no-repeat;
  background-position: 0 0;
  width: 17px;
  height: 17px;
}

.icon-profile{
  background: url(../assets/icons/icon-profile.svg) no-repeat;
  background-position: 0 0;
  width: 16px;
  height: 15px;
}

.filter-arrow{
  background: url(../assets/icons/filter-arrow.svg) no-repeat;
  width: 10px;
  height: 10px;
}

.filter-arrow-active{
  background: url(../assets/icons/filter-arrow-active.svg) no-repeat;
  width: 10px;
  height: 10px;
}

.down-arrow-circle{
  background: url(../assets/icons/down-arrow-circle.svg) no-repeat;
  width: 26px;
  height: 26px;
}

.icon-search-grey{
  background: url(../assets/icons/icon-search-grey.svg) no-repeat;
  width: 14px;
  height: 15px;
}
.icon-shoppingBag{
  background: url(../assets/icons/icon-shopping-bag-outline.svg) no-repeat;
  width: 15px;
  height: 17px;
}
.icon-card{
  background: url(../assets/icons/icon-card.svg) no-repeat;
  width: 18px;
  height: 12px;
  display: inline-block;
}
.icon-downArrow-grey{
  background: url(../assets/icons/icon-down-arrow-grey.svg) no-repeat;
  width: 7px;
  height: 7px;
  display: inline-block;
}
.icon-rightArrow-small{
  background: url(../assets/icons/icon-right-arrow-small.svg) no-repeat;
  width: 8px;
  height: 8px;
  display: inline-block;
}
.icon-mp3-download-grey{
  background: url(../assets/icons/mp3-download-grey.svg) no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
}
.icon-gp-alert-orange{
  background: url(../assets/icons/gp-alert.svg) no-repeat;
  width: 19px;
  height: 19px;
  display: inline-block;
}
.icon-search-blue{
  background: url(../assets/icons/icon-search-blue.svg) no-repeat;
  width: 17px;
  height: 18px;
  display: inline-block;
}
.icon-search-white{
  background: url(../assets/icons/icon-search-white.svg) no-repeat;
  width: 21px;
  height: 23px;
  display: inline-block;
}
.icon-circle-arrow{
  background: url(../assets/icons/icon-circle-arrow.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.icon-download-blue{
  background: url(../assets/icons/icon-download-blue.svg) no-repeat;
  width: 17px;
  height: 15px;
  display: inline-block;
}
.icon-download-white{
  background: url(../assets/icons/icon-download-white.svg) no-repeat;
  width: 17px;
  height: 15px;
  display: inline-block;
}
.icon-delete{
  background: url(../assets/icons/icon-delete.svg) no-repeat;
  width: 15px;
  height: 17px;
  display: inline-block;
}

.icon-close-float{
  background: url(../assets/icons/close-float.svg) no-repeat;
  width: 28px;
  height: 28px;
  display: inline-block;
}