.login {
  margin-top: 40px;
  .social-login{
    a{
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      // padding: 14px;
      border-radius: 6px;
      flex-direction: column;
      h5{
        font-size: 13px !important;
        letter-spacing: -0.5px;
        font-weight: 600;
        color: #fff;
        font-weight: normal;
        margin: 0;
        margin-top: 8px;
      }
    }
  }
  
  
  .login-n {
    background: #35B658;
  }
  .login-google {
    background: #DF463E;
  }
  .login-facebook {
    background: #315193;
  }
  .login-content {
    display: flex;
    flex-direction: column;
    >h3 {
      font-size: 1.688rem;
      color: $text-black-1;
      margin: 30px 0 0;
      text-align: center;
    }
    h6 {
      font-size: 1rem;
      color: $text-black-4;
      margin-bottom: 0;
    }
    h2 {
      font-size: 15px;
      letter-spacing: -0.5px;
      font-weight: 600;
      color: #222;
      text-align: center;
      position: relative;
      &:before {
        content: '';
        border-top:1px solid #000;
        position: absolute;
        top: 50%;
        left:0;
        width: 23%;
        height: 1px;
      }
      &:after {
        content: '';
        border-top:1px solid #000;
        position: absolute;
        top: 50%;
        right:0;
        width: 23%;
        height: 1px;
      }
    }
    button {
      background: $text-black-1;
      border: 0;
      border-radius: 5px;
      color: $button-white;
      box-sizing: border-box;
      padding: 15px 0;
      margin: 20px 0 0;
      font-size: 17px;
      font-weight: 600;
    }
    input {
      border: 1px solid $text-black-5;
      box-sizing: border-box;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1rem;
      height: 48px;
      text-indent: 15px;
    }
    input:not([type]):focus:not([readonly]) {
      border-bottom : 1px solid $button-deep-blue;
      box-shadow: none!important;
    }
    h4 {
      font-size:35px;
      font-weight: 100;
      margin-bottom: 40px;
      span {
        color: $primary-deep-blue;
        font-weight: bold;
      }
    }
    .login-check-section {
      margin: 14px 0;
      label {
        display: flex;
        align-items: center;
        input[type="checkbox"] + span:not(.lever) {
          height: 21px;
          line-height: 22px;
        }
        input[type="checkbox"].filled-in:checked + span:not(.lever):after {
          background: $text-black-1;
          border: 1px solid $text-black-1;
        }
        
        span {
          padding-left: 30px;
          color: $text-black-1;
          font-weight: 500;
          white-space: nowrap;
          font-size: 13px;
          letter-spacing: -1px;
          color: #7a7a7a;
        }
      }
      .collection {
        margin: 0;
        border: none;
        border-radius: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .collection-item {
          background: none;
          line-height: 1.5rem;
          padding:0 12px;
          margin: 0;
          border-bottom: 0;
          box-sizing: border-box;
          position: relative;
          
          a{
            white-space: nowrap;
            font-size: 13px;
            letter-spacing: -1px;
            font-weight: 400;
            color: #7a7a7a;
            &:hover {
              color: $text-black-1;
            }
          }
          
          &:before {
            content: '';
            border-right: 2px solid $text-black-5;
            height: 13px;
            position: absolute;
            right: 0;
            top: 5px;
          }
          &:last-child {
            padding-right: 0;
            a{
              color: #505050;
              font-weight: 600;
            }
            
          }
          &:last-child::before {
            border: 0;
          }
          &:first-child {
            padding-left: 0;
          }
        }
        
      }
    }
  }
}
