.ol-section{
    padding: 0;
    .ol-summary{
        .ol-top-tab{
            nav{
                a{
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Montserrat";
                    color: #505050;
                    &.active{
                        color: #8A8A8A;
                    }
                }
            }
        }
    }
}