.header{    
    padding: 27px 0 0;
    .logo__cont{
        width: 123px;
        img{
            width: 100%;
            vertical-align: middle;
        }
    }
    .nav__links{
        margin-left: auto;
        .link{
            margin-left: 50px;
            font: normal normal 500 25px/34px 'Open Sans', sans-serif;
            letter-spacing: 0px;
            color: #222222;
            opacity: 1;
            text-decoration: none;
            &:hover{
                color: $color-viol1;
                // font-weight: 600;
            }
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .nav__btns{
        margin-left: 60px;
        .btns{
            margin-left: 24px;
            // box-shadow: 0px 0px 20px #00000033;
            border: 2px solid $color-viol1;
            border-radius: 24px;
            opacity: 1;
            color: $color-viol1;
            width: 118px;
            height: 45px;
            background-color: transparent;
            font: normal normal 600 16px/29px 'Open Sans', sans-serif;
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                background: $color-viol1;
                color: $color-white1;
            }
        }
        .btn-dep{
            background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
            color: $color-white1;            
            width: 166px;
            height: 45px;
            // &:hover{
            //     background-color: $color-viol1;
            //     color: $color-white1;
            // }
        }
    }
}

.fullPage{      
    .checks{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 120px 0 60px;
        .checks__txt{
            padding-left: 23px;
            .simpl{
                margin-bottom: 100px;
                padding-left: 70px;
                
                h2{
                    color: $color-black1;
                    font: normal normal 600 40px/49px 'Open Sans', sans-serif;
                }
            }
            .img-hold{
                max-width: 652px;
                img{
                    width: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
}

.blk-brder{
    background-color: $color-black2;
    width: 236px;
    height: 8px;
    border-radius: 13px;
    opacity: 0.7;
}


.drop-down {
    position: relative;    
    .drop-disp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: 1px solid #7c7878;
        cursor: pointer;
        padding: 0 10px;
        p{
            margin-right: 10px;
            width: calc(100% - 12px);
            font-size: 17px;
            font-weight: 700;
        }
        a{
            i{
                color: #7e7a7a;
            }
        }
    }
    .drop-list{
        list-style: none;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        display: none;
        border: 1px solid #232323;
        background-color: #dddddd;
        border-top: none;
        li{
            height: 28px;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid #232323;
            padding: 0 10px;
            cursor: pointer;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: #fff;
                background-color: #d2d0d0;
            }
        }
        &.show{
            display: block;
        }
    }
}

.on-off{
    cursor: pointer;
    .sw-cont{
        width: 40px;
        height: 21px;
        border: 1px solid #d2d0d0;
        border-radius: 40px;
        position: relative;
        // transition: all 0.8s linear;
        &::before{
            position: absolute;
            content: " ";
            width: 20px;
            height: 20px;
            top: 0px;
            left: 1px;
            // right: 100%;
            // transform: translate(100%, 0);
            background: #fff;
            border: 1px solid #ada9a9;
            border-radius: 50%;
            transition: 0.4s ease-in;
        }        
    }
    &.switch{
        // width: 60px;        
        .sw-cont{
            border: 1px solid #1319ff;
            &::before{
                // right: 0;
                transform: translateX(14px);
                left: 4px;
                // border: 1px solid #1319ff;
                background-color: #1319ff;
                // left: initial;
            }
        }        
    }
}