.icon-clock{
    background: url('../assets/images/time.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-minus{
    background: url('../assets/images/minus.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}