.icon-clock{
    background: url('../assets/images/time.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-minus{
    background: url('../assets/images/minus.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-plus{
    background: url('../assets/images/plus.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-pdf{
    background: url('../assets/images/pdf.png') no-repeat;
    background-size: auto 25px;
    height: 25px;
    width: 26px;
    display: inline-block;
}

.icon-new{
    background: url('../assets/images/new.png') no-repeat;
    background-size: auto 24px;
    height: 24px;
    width: 42px;
    display: inline-block;
}

.icon-download{
    background: url('../assets/images/download.png') no-repeat;
    background-size: auto 17px;
    height: 18px;
    width: 25px;
    display: inline-block;
}

.icon-user{
    background: url('../assets/images/user-grey.png') no-repeat;
    background-size: auto 51px;
    height: 48px;
    width: 51px;
    display: inline-block;
}

.icon-thumbs{
    background: url('../assets/images/thumbs-up.png') no-repeat;
    background-size: auto 18px;
    height: 24px;
    width: 23px;
    display: inline-block;
}

.icon-thumbs-wt{
    background: url('../assets/images/thumbs-white.png') no-repeat;
    background-size: auto 18px;
    height: 24px;
    width: 23px;
    display: inline-block;
}

.icon-search{
    background: url('../assets/images/search.png') no-repeat;
    background-size: auto 29px;
    height: 29px;
    width: 35px;
    display: inline-block;
}

.icon-filter{
    background: url('../assets/images/filter.png') no-repeat;
    background-size: auto 27px;
    height: 32px;
    width: 30px;
    display: inline-block;
}

.icon-downarrow{
    background: url('../assets/images/downarrow.png') no-repeat;
    background-size: auto 12px;
    height: 12px;
    width: 20px;
    display: inline-block;
}

.icon-down-arrow{
    background: url('../assets/images/downarrow.png') no-repeat;
    background-size: auto 9px;
    height: 8px;
    width: 14px;
    display: inline-block;
}

.icon-books{
    background: url('../assets/images/book.png') no-repeat;
    background-size: auto 23px;
    height: 25px;
    width: 38px;
    display: inline-block;
}

.icon-comments{
    background: url('../assets/images/comments.png') no-repeat;
    background-size: auto 25px;
    height: 23px;
    width: 35px;
    display: inline-block;
}

.icon-calender{
    background: url('../assets/images/calendar.png') no-repeat;
    background-size: auto 25px;
    height: 25px;
    width: 35px;
    display: inline-block;
}

.icon-user-top{
    background: url('../assets/images/user-both.png') no-repeat;
    background-size: auto 20px;
    height: 22px;
    width: 30px;
    display: inline-block;
}

.icon-user-btm{
    background: url('../assets/images/user-both.png') no-repeat;
    background-size: auto 17px;
    height: 20px;
    width: 32px;
    display: inline-block;
}

.icon-user-img{
    background: url('../assets/images/john.png') no-repeat;
    background-size: auto 25px;
    height: 27px;
    width: 33px;
    display: inline-block;
}

.icon-home{
    background: url('../assets/images/home.png') no-repeat;
    background-size: auto 25px;
    height: 23px;
    width: 35px;
    display: inline-block;
}

.icon-right-arr{
    background: url('../assets/images/rightarrow.png') no-repeat;
    background-size: auto 15px;
    height: 18px;
    width: 19px;
    display: inline-block;
}

.icon-notify{
    background: url('../assets/images/notify.png') no-repeat;
    background-size: auto 22px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-mail{
    background: url('../assets/images/mail.png') no-repeat;
    background-size: auto 20px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-tweet{
    background: url('../assets/images/tweet.png') no-repeat;
    background-size: auto 20px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-copy{
    background: url('../assets/images/book-db.png') no-repeat;
    background-size: auto 28px;
    height: 28px;
    width: 33px;
    display: inline-block;
}

.icon-comments-db{
    background: url('../assets/images/comments-blue.png') no-repeat;
    background-size: auto 20px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-books-db{
    background: url('../assets/images/book-blue.png') no-repeat;
    background-size: auto 20px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-star-db{
    background: url('../assets/images/satr-db.png') no-repeat;
    background-size: auto 20px;
    height: 21px;
    width: 22px;
    display: inline-block;
}

.icon-badge{
    background: url('../assets/images/badge.png') no-repeat;
    background-size: auto 30px;
    height: 28px;
    width: 36px;
    display: inline-block;
}

.icon-trophy{
    background: url('../assets/images/trphy.png') no-repeat;
    background-size: auto 28px;
    height: 27px;
    width: 33px;
    display: inline-block;
}

.icon-cert{
    background: url('../assets/images/cert.png') no-repeat;
    background-size: auto 28px;
    height: 28px;
    width: 33px;
    display: inline-block;
}

.icon-grn-dot{
    background: url('../assets/images/green-dot.png') no-repeat;
    background-size: auto 14px;
    height: 17px;
    width: 25px;
    display: inline-block;
}

.icon-blue-dot{
    background: url('../assets/images/blue-dot.png') no-repeat;
    background-size: auto 14px;
    height: 17px;
    width: 25px;
    display: inline-block;
}