.icon-clock{
    background: url('../assets/images/time.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-minus{
    background: url('../assets/images/minus.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-plus{
    background: url('../assets/images/plus.png') no-repeat;
    background-size: auto 20px;
    height: 20px;
    width: 22px;
    display: inline-block;
}

.icon-pdf{
    background: url('../assets/images/pdf.png') no-repeat;
    background-size: auto 25px;
    height: 25px;
    width: 26px;
    display: inline-block;
}

.icon-new{
    background: url('../assets/images/new.png') no-repeat;
    background-size: auto 24px;
    height: 24px;
    width: 42px;
    display: inline-block;
}

.icon-download{
    background: url('../assets/images/download.png') no-repeat;
    background-size: auto 17px;
    height: 18px;
    width: 25px;
    display: inline-block;
}