
.co-tab1{
    padding: 100px 0 20px;
    .top-content{
        display: flex;
        .first{
            flex: 1;
            img{
                vertical-align: middle;
                // width: 100%;
            }
        }
        .second{
            padding: 10px 40px 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 3;
            h3{
                font-size: 21px;
                text-transform: capitalize;
                margin: 0px;
            }
            .class-info{
                display: flex;
                align-items: center;
                p{
                    width: auto;
                    padding: 0 10px;
                    font-size: 15px;
                    color: #d2d1d1;
                    font-weight: 400;
                }
                .border{
                    width: 1px;
                    height: 15px;
                    background-color: black;
                }
                p:first-child{
                    padding-left: 0px;
                }
                p:last-child{
                    border-right: none;
                }
            }
            p{
                width: 85%;
                margin: 0px;
            }
            a{
                font-size: 16px;
                line-height: 18px;
                font-weight: 500;
                color: #ffffff;
                border-radius: 8px;
                width: 180px;
                &.btn-cust{
                    background-color: #7792e4;
                    padding: 8px 15px;
                }
            }
        }
        .third{
            flex: 0.8;
            text-align: center;
            h3{
                margin: 0px;
                font-size: 28px;
                span{
                    font-size: 18px;
                }
            }
            p{
                margin: 0px;
                font-size: 15px;
                line-height: 18px;
            }
        }
    }
}

.course-info{
    background-color: #f9f9f9;
    .tab-start{
        background-color: #ffffff;
        .tabs{
            .tab{
                text-transform: capitalize;
                a{
                    color: #d2cccc;
                    font-size: 17px;
                    &.active{
                        color: #232323;
                    }
                }
                a:focus{
                    &.active{
                        background-color: #ffffff;
                    }
                }
            }
            .indicator{
                background-color: #1798e9;
                margin-bottom: 3px;
            }
        }
    }
    .tabular-cont{
        padding: 40px 0 130px;
        .grey-content{
            display: flex;
            justify-content: space-between;
            .leftt{
                width: 48%;
                .left-row{
                    padding: 18px 0 16px;
                    border-bottom: 1px solid #ebe6e6;
                    h4{
                        margin: 0px;
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                    &.left-row-btn{
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 0;
                        p{
                            border: 1px solid black;
                            border-radius: 10px;
                            padding: 2px 10px;
                            line-height: 100%;
                            font-size: 15px;
                            margin: 0px;
                        }
                    }
                    .left-guide{
                        padding: 20px 0;
                        .guide-row{
                            display: flex;
                            justify-content: space-between;
                            padding: 15px 0;
                            .guides{
                                display: flex;
                                .guide-img{
    
                                }
                                .guide-info{
                                    padding: 0 0 0 20px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    h5{
                                        margin: 0px 0 0px;
                                        font-size: 22px;
                                        line-height: 24px;
                                    }
                                    p{
                                        color: #c6c0c0;
                                        margin: 0px;
                                        font-size: 15px;
                                        line-height: 19px;
                                    }
                                    a{
                                        // color: #039be5;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .rightt{
                width: 48%;
                .right-row{
                    border-bottom: 1px solid #ebe6e6;
                    padding: 18px 0 16px;
                    h4{
                        margin: 0px;
                        font-size: 20px;
                        font-weight: 450;
                    }
                    p{
                        font-size: 15px;
                    }
                    .inner-txt{
                        h5{
                            font-size: 17px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        .collap-head{
            padding: 25px 0 0 0;
            .collapsible{
                .collapsible-header{
                    background-color: #f0f9fb;
                    min-height: 70px;
                    line-height: 39px;
                    align-items: center;
                    justify-content: space-between;
                    .subj{
                        display: flex;
                        p{
                            margin: 0px;
                            padding: 0 14px;
                            font-size: 19px;
                        }
                        p:nth-child(2){
                            // margin-left: 20px;
                            font-size: 22px;
                            padding-left: 8px;
                        }
                    }
                    i{
                        margin-left: 8px;
                    }
                }
                .collapsible-body{
                    padding-bottom: 10px;
                    padding-right: 25px;
                    background-color: #ffffff;
                    .all-in-one{
                        display: flex;
                        .middle-left{
                            flex: 0.1;
                            font-size: 22px;
                        }
                        .middle{
                            flex: 2.5;
                            .vision{
                                margin: 0 0 15px 0;
                                h4{
                                    margin: 0;
                                    font-size: 24px;
                                }
                            }
                            .bottom-comb{
                                display: flex;
                                .long-img{
        
                                }
                                .centre-text-wrap{
                                    padding-left: 15px;
                                    .centre-text{
                                        display: flex;
                                        margin-bottom: 24px;
                                        .centre-img{
                                            img{
                                                vertical-align: middle;
                                            }
                                        }
                                        .cover{
                                            padding: 0 0 0 10px;
                                            .oppor{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 10px;
                                                h4{
                                                    font-size: 20px;
                                                    margin: 0px;
                                                    line-height: 22px;
                                                }
                                                p{
                                                    margin: 0px;
                                                    i{
                                                        vertical-align: middle;
                                                        margin-right: 8px;
                                                    }
                                                }
                                            }
                                            .desc{
                                                p{
                                                    margin: 0px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .middle-right{
                            flex: 0.1;
                            text-align: center;
                        }  
                    }
                                  
                }
            }
        }
        .course-link{
            .course-row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 15px 0;
                .left{
                    display: flex;
                    width: 50%;
                    p{
                        margin: 0px;
                        font-size: 18px;
                        padding: 0 10px;
                        text-transform: capitalize;
                        a{
                            color: #232323;
                        }
                    }
                    i.icon-pdf{
                        vertical-align: middle;
                    }
                    i.icon-new{
                        vertical-align: middle;
                    }
                }
                .right{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 50%;
                    .infor{
                        display: flex;
                        p{
                            margin: 0px;
                            font-size: 18px;
                            color: #d2cccc;
                            padding: 0 10px;
                        }
                    }
                    .down-caps{
                        display: none;
                        .download{
                            display: flex;
                            align-items: center;
                            // display: none;
                            p{
                                margin: 0px;
                                padding: 0 20px;
                                color: #2bc6f3;
                                // font-size: 12px;
                                i{
                                    vertical-align: middle;
                                }
                            }
                            &.active{
                                display: flex;
                                background-color: #f0f9fb;
                            }
                        }
                    }
                }
            }
        }
        .course-discuss{
            .disc-row{
                padding: 40px 20px;
                border-bottom: 1px solid #ebe6e6;
                h4{
                    color: #807575;
                    font-size: 20px;
                    margin: 0px;
                }
                p{
                    margin: 0px;
                    &.txt{
                        font-size: 16px;
                        color: #6b5f5f;
                        width: 77%;
                    }
                }
                .days{
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 15px 0;
                    p{
                        font-size: 15px;
                        text-align: right;
                        color: #bdbaba;
                    }
                }
                .userc{
                    display: flex;
                    margin-top: 10px;
                    p{
                        font-size: 19px;
                        margin-top: 8px;
                        padding-left: 8px;
                    }
                }
                .extra{
                    display: flex;
                    justify-content: flex-end;
                    // align-items: center;
                    p{
                        padding: 0 10px;
                        color: #019aff;
                        i{
                            vertical-align: middle;
                        }
                    }
                }
                .comments{
                    display: flex;
                    a.btn-reply{
                        color: #ffffff;
                        background-color: #d4d4d4;
                        width: 150px;
                        padding: 12px 20px;
                        line-height: 21px;
                        border-radius: 5px;
                        height: 45px;
                    }
                }
                &.disc-white{
                    background-color: #ffffff;
                }
            }
        }
    }
}

// .tabs .tab a:focus.active{
//     background-color: #ffffff;
// }
