.fullPage{
    // overflow: hidden;
    // padding-top: 27px;
}

.section-one{
    background-color: #141441;
    height: 350px;
    padding: 20px 0;
}

.head-txt{
    width: 150px;
    text-align: left;
    margin: 0 auto;
    p{
        margin: 0;
        color: #fff;
        font-weight: 800;
        text-transform: lowercase;
        font-size: 22px;
        line-height: 17px;
        &:nth-child(2){
            padding-left: 16px;
        }
    }
    
}

.colourful{
    background: #AE08BA;
    background: -webkit-linear-gradient(to right, #AE08BA 0%, #daaf07 100%);
    background: -moz-linear-gradient(to right, #AE08BA 0%, #daaf07 100%);
    background: linear-gradient(to right, #AE08BA 0%, #daaf07 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
    line-height: 1.5;
    margin: 0 auto;
    width: 190px;

}


.btn-primary{
    // box-shadow: 0px 0px 20px #00000033;
    border: 2px solid $color-viol1;
    border-radius: 24px;
    opacity: 1;
    color: $color-viol1;
    background-color: transparent;
    font: normal normal 600 16px/29px 'Open Sans', sans-serif;    
    &:hover{
        background: $color-viol1;
        color: $color-white1;
    }
}

.btn-appr{
    background-color: $color-white1;
    color: $color-viol1;
    font: normal normal 600 14px/18px 'Open Sans', sans-serif;
    border-radius: 30px;
    width: 140px;
    height: 40px;
}

.blk-brder{
    background-color: $color-black2;
    width: 236px;
    height: 8px;
    border-radius: 13px;
    opacity: 0.7;
}


.drop-down {
    position: relative;    
    .drop-disp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: 1px solid #7c7878;
        cursor: pointer;
        padding: 0 10px;
        p{
            margin-right: 10px;
            width: calc(100% - 12px);
            font-size: 17px;
            font-weight: 700;
        }
        a{
            i{
                color: #7e7a7a;
            }
        }
    }
    .drop-list{
        list-style: none;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        display: none;
        border: 1px solid #232323;
        background-color: #dddddd;
        border-top: none;
        li{
            height: 28px;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid #232323;
            padding: 0 10px;
            cursor: pointer;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: #fff;
                background-color: #d2d0d0;
            }
        }
        &.show{
            display: block;
        }
    }
}

