.fullPage{
    overflow: hidden;
    padding-top: 27px;
}


.btn-primary{
    // box-shadow: 0px 0px 20px #00000033;
    border: 2px solid $color-viol1;
    border-radius: 24px;
    opacity: 1;
    color: $color-viol1;
    background-color: transparent;
    font: normal normal 600 16px/29px 'Open Sans', sans-serif;    
    &:hover{
        background: $color-viol1;
        color: $color-white1;
    }
}

.btn-appr{
    background-color: $color-white1;
    color: $color-viol1;
    font: normal normal 600 14px/18px 'Open Sans', sans-serif;
    border-radius: 30px;
    width: 140px;
    height: 40px;
}

.blk-brder{
    background-color: $color-black2;
    width: 236px;
    height: 8px;
    border-radius: 13px;
    opacity: 0.7;
}


.drop-down {
    position: relative;    
    .drop-disp{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        border: 1px solid #7c7878;
        cursor: pointer;
        padding: 0 10px;
        p{
            margin-right: 10px;
            width: calc(100% - 12px);
            font-size: 17px;
            font-weight: 700;
        }
        a{
            i{
                color: #7e7a7a;
            }
        }
    }
    .drop-list{
        list-style: none;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
        padding-left: 0;
        display: none;
        border: 1px solid #232323;
        background-color: #dddddd;
        border-top: none;
        li{
            height: 28px;
            font-size: 16px;
            line-height: 24px;
            border-bottom: 1px solid #232323;
            padding: 0 10px;
            cursor: pointer;
            &:last-child{
                border-bottom: none;
            }
            &:hover{
                color: #fff;
                background-color: #d2d0d0;
            }
        }
        &.show{
            display: block;
        }
    }
}

