@import "./first-page";
@import "./icons";
@import "./chinese";
@import "./ver-2";


html,
body {
  height: 100%;
}




//owl nav navigation disable when less items
.owl-nav.disabled{
  .owl-prev.disabled,.owl-next.disabled{
    display: none !important;
  }
}



/*container sizing as per feedback*/
.container{
  max-width: 1200px;
  width: 100%;
  @media screen and (max-width: 1279px) {
    width: 90%;
  }
  @media screen and (max-width: 601px) {
    width: 95%;
  }
}

