.fullPage{
    padding-top: 125px;
}


.sectionone{  
    display: none;
    grid-template-columns: 220px 320px 220px;
    grid-template-areas: "gr largebx blu"
     "pu largebx re"
     "oran largebx gre";
     gap: 15px;
     justify-content: center;
    @media screen and (min-width:768px) {
        display: grid;
    }
    // .smbox{
    //     width: 200px;
    //     height: 150px;
    //     border-radius: 5px;
    //     display: flex;
    //     text-align: center;
    //     align-items: center;
    //     cursor: pointer;
    // }
    // .largebox{
    //     width: 300px;
    //     height: 480px;
    //     border: 1px solid black;
    //     grid-area: largebx;
    //     border-radius: 5px;
    // }
    // .green{
    //     grid-area: gr;
    //     border: 2px solid green;
        
    // }
    // .purple{
    //     grid-area: pu;
    //     border: 1px solid purple;
    // }
    // .orange{
    //     grid-area: oran;
    //     border: 1px solid orange;
    // }
    // .blue{
    //     grid-area: blu;
    //     border: 1px solid blue;
    // }
    // .red{
    //     grid-area: re;
    //     border: 1px solid red;
    // }
    // .grey{
    //     grid-area: gre;
    //     border: 1px solid grey;
    // }
}

.smbox{
    width: 200px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
.largebox{
    width: 300px;
    height: 480px;
    border: 1px solid black;
    grid-area: largebx;
    border-radius: 5px;
}
.green{
    grid-area: gr;
    border: 2px solid green;
    
}
.purple{
    grid-area: pu;
    border: 1px solid purple;
}
.orange{
    grid-area: oran;
    border: 1px solid orange;
}
.blue{
    grid-area: blu;
    border: 1px solid blue;
}
.red{
    grid-area: re;
    border: 1px solid red;
}
.grey{
    grid-area: gre;
    border: 1px solid grey;
}

.sectiontwo{
    @media screen and (min-width:768px) {
        display: none;
    }
    .centeralign{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        margin: 0 auto;
    }    
    .boxcont{
        margin-top: 20px;
        width: 100%;
        .item{
            width: 100%;
            .smbox{
                width: 100%;
            }
        }
        
    }
}
           
    

