.order-list-content.mypage-notification{
    padding-top: 0;
}
.alarm-list{
    ul.notification-list{
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        li{
            border-radius: 0 !important;
            .left{
                i{
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 50px;
                }
            }
        }
    }
}
